.contact{
    padding: 5vh 8vw;
    background-color: #ffe3d8;
    text-align: center;
    color: #0a043c;
}

.contact h1{
    color: #03506f;
    text-shadow: 1px 1px #ffffff;
    font-size: 2.8em;
    text-decoration: underline;
    padding-bottom: 5vh;
}

.contact h3{
    padding-bottom: 2vh;
}

.contact h4{
    color: #03506f;
    text-shadow: 1px 1px #ffe3d8;
    padding-top: 2vh;
}

.contact a{
    text-decoration: none;
    color: #0a043c;
}