.navbar{
    width: 100%;
    height: 10vh;
    background-color: #ffe3d8;
    justify-content: space-between;
}

.navbar-content{
    text-align: right;
    padding-right: 3vw;
    padding-top: 2vh;
    list-style-type: none;
}

.navbar-content li {
    display: inline-block;
    font-weight: 600;
    font-size: 1.7em;
    padding-right: 5vw;
}

.navbar-content li a{
    text-decoration: none;
    color: #0a043c;
    transition:font-size 1s;
}

.navbar-content li a:hover{
    font-size: 1.5em;
}