.skills{
    padding: 5vh 8vw;
    background-color: #0a043c;
    text-align: center;
}

.skills h1{
    color: #ffffff;
    text-shadow: 1px 1px #bbbbbb;
    font-size: 2.8em;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5vh;
}

.skills p{
    color: #0a043c;
    padding-top: 1vh;
    font-size: 1.05em;
    color: #ffffff;
    transition:font-size 2s;
}

.skills p:hover{
    font-size: 1.15em;
}

.skills-details-beg{
    color: #ffe3d8;
}
@media all and (max-width: 1050px){
    .skills h1{
        padding-bottom: 1vh;
    }
}